<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>LaPalmera</display-name>    
    <servlet>
    	<servlet-name>log4j-init</servlet-name>
    	<servlet-class>cl.laPalmera.log.Log4jLauncher</servlet-class>
    	<init-param>
      		<param-name>nombre-app</param-name>
      		<param-value>LaPalmera</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  		
	<servlet>
        <servlet-name>GrabaServlet</servlet-name>
        <servlet-class>GrabaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaServlet</servlet-name>
        <url-pattern>/servlet/GrabaServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ControlUsuario</servlet-name>
        <servlet-class>cl.laPalmera.control.ControlUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlUsuario</servlet-name>
        <url-pattern>/servlet/ControlUsuario</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>MiServlet</servlet-name>
        <servlet-class>MiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MiServlet</servlet-name>
        <url-pattern>/servlet/MiServlet</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>GrabaAsigna</servlet-name>
        <servlet-class>unab.com.GrabaAsigna</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaAsigna</servlet-name>
        <url-pattern>/servlet/GrabaAsigna</url-pattern>
    </servlet-mapping>
    	
	<servlet>
        <servlet-name>GrabaProducto</servlet-name>
        <servlet-class>unab.com.GrabaProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaProducto</servlet-name>
        <url-pattern>/servlet/GrabaProducto</url-pattern>
    </servlet-mapping>
		<servlet>
        <servlet-name>ModificaProducto</servlet-name>
        <servlet-class>unab.com.ModificaProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaProducto</servlet-name>
        <url-pattern>/servlet/ModificaProducto</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaProducto</servlet-name>
        <servlet-class>unab.com.EliminaProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaProducto</servlet-name>
        <url-pattern>/servlet/EliminaProducto</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaInsumo</servlet-name>
        <servlet-class>unab.com.GrabaInsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaInsumo</servlet-name>
        <url-pattern>/servlet/GrabaInsumo</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaInsumo</servlet-name>
        <servlet-class>unab.com.ModificaInsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaInsumo</servlet-name>
        <url-pattern>/servlet/ModificaInsumo</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaInsumo</servlet-name>
        <servlet-class>unab.com.EliminaInsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaInsumo</servlet-name>
        <url-pattern>/servlet/EliminaInsumo</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaFuncionario</servlet-name>
        <servlet-class>unab.com.GrabaFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaFuncionario</servlet-name>
        <url-pattern>/servlet/GrabaFuncionario</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaFuncionario</servlet-name>
        <servlet-class>unab.com.ModificaFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaFuncionario</servlet-name>
        <url-pattern>/servlet/ModificaFuncionario</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaFuncionario</servlet-name>
        <servlet-class>unab.com.EliminaFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaFuncionario</servlet-name>
        <url-pattern>/servlet/EliminaFuncionario</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaFamilia</servlet-name>
        <servlet-class>unab.com.GrabaFamilia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaFamilia</servlet-name>
        <url-pattern>/servlet/GrabaFamilia</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificaFamilia</servlet-name>
        <servlet-class>unab.com.ModificaFamilia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaFamilia</servlet-name>
        <url-pattern>/servlet/ModificaFamilia</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaFamilia</servlet-name>
        <servlet-class>unab.com.EliminaFamilia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaFamilia</servlet-name>
        <url-pattern>/servlet/EliminaFamilia</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaSubfamilia</servlet-name>
        <servlet-class>unab.com.GrabaSubfamilia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaSubfamilia</servlet-name>
        <url-pattern>/servlet/GrabaSubfamilia</url-pattern>
    </servlet-mapping>
 	<servlet>
        <servlet-name>ModificaSubfamilia</servlet-name>
        <servlet-class>unab.com.ModificaSubfamilia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaSubfamilia</servlet-name>
        <url-pattern>/servlet/ModificaSubfamilia</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaSubfamilia</servlet-name>
        <servlet-class>unab.com.EliminaSubfamilia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaSubfamilia</servlet-name>
        <url-pattern>/servlet/EliminaSubfamilia</url-pattern>
    </servlet-mapping>
 
 <servlet>
        <servlet-name>GrabaOtraCaracteristica</servlet-name>
        <servlet-class>unab.com.GrabaOtraCaracteristica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaOtraCaracteristica</servlet-name>
        <url-pattern>/servlet/GrabaOtraCaracteristica</url-pattern>
    </servlet-mapping>
 	<servlet>
        <servlet-name>ModificaOtraCaracteristica</servlet-name>
        <servlet-class>unab.com.ModificaOtraCaracteristica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaOtraCaracteristica</servlet-name>
        <url-pattern>/servlet/ModificaOtraCaracteristica</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaOtraCaracteristica</servlet-name>
        <servlet-class>unab.com.EliminaOtraCaracteristica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaOtraCaracteristica</servlet-name>
        <url-pattern>/servlet/EliminaOtraCaracteristica</url-pattern>
    </servlet-mapping>
 
<servlet>
        <servlet-name>GrabaUnidadMedida</servlet-name>
        <servlet-class>unab.com.GrabaUnidadMedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaUnidadMedida</servlet-name>
        <url-pattern>/servlet/GrabaUnidadMedida</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaUnidadMedida</servlet-name>
        <servlet-class>unab.com.ModificaUnidadMedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaUnidadMedida</servlet-name>
        <url-pattern>/servlet/ModificaUnidadMedida</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaUnidadMedida</servlet-name>
        <servlet-class>unab.com.EliminaUnidadMedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaUnidadMedida</servlet-name>
        <url-pattern>/servlet/EliminaUnidadMedida</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaBodega</servlet-name>
        <servlet-class>unab.com.GrabaBodega</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaBodega</servlet-name>
        <url-pattern>/servlet/GrabaBodega</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaBodega</servlet-name>
        <servlet-class>unab.com.ModificaBodega</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaBodega</servlet-name>
        <url-pattern>/servlet/ModificaBodega</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaBodega</servlet-name>
        <servlet-class>unab.com.EliminaBodega</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaBodega</servlet-name>
        <url-pattern>/servlet/EliminaBodega</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaConceptoTecnico</servlet-name>
        <servlet-class>unab.com.GrabaConceptoTecnico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaConceptoTecnico</servlet-name>
        <url-pattern>/servlet/GrabaConceptoTecnico</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaConceptoTecnico</servlet-name>
        <servlet-class>unab.com.ModificaConceptoTecnico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaConceptoTecnico</servlet-name>
        <url-pattern>/servlet/ModificaConceptoTecnico</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaConceptoTecnico</servlet-name>
        <servlet-class>unab.com.EliminaConceptoTecnico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaConceptoTecnico</servlet-name>
        <url-pattern>/servlet/EliminaConceptoTecnico</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaFichaTecnica</servlet-name>
        <servlet-class>unab.com.GrabaFichaTecnica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaFichaTecnica</servlet-name>
        <url-pattern>/servlet/GrabaFichaTecnica</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaFichaTecnica</servlet-name>
        <servlet-class>unab.com.ModificaFichaTecnica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaFichaTecnica</servlet-name>
        <url-pattern>/servlet/ModificaFichaTecnica</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaFichaTecnica</servlet-name>
        <servlet-class>unab.com.EliminaFichaTecnica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaFichaTecnica</servlet-name>
        <url-pattern>/servlet/EliminaFichaTecnica</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaIngrediente</servlet-name>
        <servlet-class>unab.com.GrabaIngrediente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaIngrediente</servlet-name>
        <url-pattern>/servlet/GrabaIngrediente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaIngrediente</servlet-name>
        <servlet-class>unab.com.ModificaIngrediente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaIngrediente</servlet-name>
        <url-pattern>/servlet/ModificaIngrediente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaIngrediente</servlet-name>
        <servlet-class>unab.com.EliminaIngrediente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaIngrediente</servlet-name>
        <url-pattern>/servlet/EliminaIngrediente</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaUbicacion</servlet-name>
        <servlet-class>unab.com.GrabaUbicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaUbicacion</servlet-name>
        <url-pattern>/servlet/GrabaUbicacion</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaUbicacion</servlet-name>
        <servlet-class>unab.com.ModificaUbicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaUbicacion</servlet-name>
        <url-pattern>/servlet/ModificaUbicacion</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaUbicacion</servlet-name>
        <servlet-class>unab.com.EliminaUbicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaUbicacion</servlet-name>
        <url-pattern>/servlet/EliminaUbicacion</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaCargo</servlet-name>
        <servlet-class>unab.com.GrabaCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaCargo</servlet-name>
        <url-pattern>/servlet/GrabaCargo</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaCargo</servlet-name>
        <servlet-class>unab.com.ModificaCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaCargo</servlet-name>
        <url-pattern>/servlet/ModificaCargo</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaCargo</servlet-name>
        <servlet-class>unab.com.EliminaCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaCargo</servlet-name>
        <url-pattern>/servlet/EliminaCargo</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaArea</servlet-name>
        <servlet-class>unab.com.GrabaArea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaArea</servlet-name>
        <url-pattern>/servlet/GrabaArea</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaArea</servlet-name>
        <servlet-class>unab.com.ModificaArea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaArea</servlet-name>
        <url-pattern>/servlet/ModificaArea</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaArea</servlet-name>
        <servlet-class>unab.com.EliminaArea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaArea</servlet-name>
        <url-pattern>/servlet/EliminaArea</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaComuna</servlet-name>
        <servlet-class>unab.com.GrabaComuna</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaComuna</servlet-name>
        <url-pattern>/servlet/GrabaComuna</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaComuna</servlet-name>
        <servlet-class>unab.com.ModificaComuna</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaComuna</servlet-name>
        <url-pattern>/servlet/ModificaComuna</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaComuna</servlet-name>
        <servlet-class>unab.com.EliminaComuna</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaComuna</servlet-name>
        <url-pattern>/servlet/EliminaComuna</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaCiudad</servlet-name>
        <servlet-class>unab.com.GrabaCiudad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaCiudad</servlet-name>
        <url-pattern>/servlet/GrabaCiudad</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaCiudad</servlet-name>
        <servlet-class>unab.com.ModificaCiudad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaCiudad</servlet-name>
        <url-pattern>/servlet/ModificaCiudad</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaCiudad</servlet-name>
        <servlet-class>unab.com.EliminaCiudad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaCiudad</servlet-name>
        <url-pattern>/servlet/EliminaCiudad</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaRegion</servlet-name>
        <servlet-class>unab.com.GrabaRegion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaRegion</servlet-name>
        <url-pattern>/servlet/GrabaRegion</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaRegion</servlet-name>
        <servlet-class>unab.com.ModificaRegion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaRegion</servlet-name>
        <url-pattern>/servlet/ModificaRegion</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaRegion</servlet-name>
        <servlet-class>unab.com.EliminaRegion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaRegion</servlet-name>
        <url-pattern>/servlet/EliminaRegion</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaTipoCliente</servlet-name>
        <servlet-class>unab.com.GrabaTipoCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaTipoCliente</servlet-name>
        <url-pattern>/servlet/GrabaTipoCliente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaTipoCliente</servlet-name>
        <servlet-class>unab.com.ModificaTipoCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaTipoCliente</servlet-name>
        <url-pattern>/servlet/ModificaTipoCliente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaTipoCliente</servlet-name>
        <servlet-class>unab.com.EliminaTipoCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaTipoCliente</servlet-name>
        <url-pattern>/servlet/EliminaTipoCliente</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaLineaProduccion</servlet-name>
        <servlet-class>unab.com.GrabaLineaProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaLineaProduccion</servlet-name>
        <url-pattern>/servlet/GrabaLineaProduccion</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaLineaProduccion</servlet-name>
        <servlet-class>unab.com.ModificaLineaProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaLineaProduccion</servlet-name>
        <url-pattern>/servlet/ModificaLineaProduccion</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaLineaProduccion</servlet-name>
        <servlet-class>unab.com.EliminaLineaProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaLineaProduccion</servlet-name>
        <url-pattern>/servlet/EliminaLineaProduccion</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaCliente</servlet-name>
        <servlet-class>unab.com.GrabaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaCliente</servlet-name>
        <url-pattern>/servlet/GrabaCliente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaCliente</servlet-name>
        <servlet-class>unab.com.ModificaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaCliente</servlet-name>
        <url-pattern>/servlet/ModificaCliente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EliminaCliente</servlet-name>
        <servlet-class>unab.com.EliminaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaCliente</servlet-name>
        <url-pattern>/servlet/EliminaCliente</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ControlFilPedido</servlet-name>
        <servlet-class>unab.com.ControlFilPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlFilPedido</servlet-name>
        <url-pattern>/servlet/ControlFilPedido</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ControlListaPedido</servlet-name>
        <servlet-class>unab.com.ControlListaPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlListaPedido</servlet-name>
        <url-pattern>/servlet/ControlListaPedido</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ModificaPedido</servlet-name>
        <servlet-class>unab.com.ModificaPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaPedido</servlet-name>
        <url-pattern>/servlet/ModificaPedido</url-pattern>
    </servlet-mapping>
		
	<servlet>
        <servlet-name>GrabaStock</servlet-name>
        <servlet-class>unab.com.GrabaStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaStock</servlet-name>
        <url-pattern>/servlet/GrabaStock</url-pattern>
    </servlet-mapping>
		
	<servlet>
        <servlet-name>ModificaStock</servlet-name>
        <servlet-class>unab.com.ModificaStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaStock</servlet-name>
        <url-pattern>/servlet/ModificaStock</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaProgramaProduccion</servlet-name>
        <servlet-class>unab.com.GrabaProgramaProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaProgramaProduccion</servlet-name>
        <url-pattern>/servlet/GrabaProgramaProduccion</url-pattern>
    </servlet-mapping>
		
	<servlet>
        <servlet-name>GrabaEspecificarProduccion</servlet-name>
        <servlet-class>unab.com.GrabaEspecificarProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaEspecificarProduccion</servlet-name>
        <url-pattern>/servlet/GrabaEspecificarProduccion</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaEntregaInsumo</servlet-name>
        <servlet-class>unab.com.GrabaEntregaInsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaEntregaInsumo</servlet-name>
        <url-pattern>/servlet/GrabaEntregaInsumo</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaProductoLinea</servlet-name>
        <servlet-class>unab.com.GrabaProductoLinea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaProductoLinea</servlet-name>
        <url-pattern>/servlet/GrabaProductoLinea</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>ModificaProgramaProduccion</servlet-name>
        <servlet-class>unab.com.ModificaProgramaProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaProgramaProduccion</servlet-name>
        <url-pattern>/servlet/ModificaProgramaProduccion</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaCapturaProduccion</servlet-name>
        <servlet-class>unab.com.GrabaCapturaProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaCapturaProduccion</servlet-name>
        <url-pattern>/servlet/GrabaCapturaProduccion</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaDevolucionInsumo</servlet-name>
        <servlet-class>unab.com.GrabaDevolucionInsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabaDevolucionInsumo</servlet-name>
        <url-pattern>/servlet/GrabaDevolucionInsumo</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ModificaProductoLinea</servlet-name>
        <servlet-class>unab.com.ModificaProductoLinea</servlet-class>
    </servlet>
	 <servlet-mapping>
        <servlet-name>ModificaProductoLinea</servlet-name>
        <url-pattern>/servlet/ModificaProductoLinea</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>EliminaProductoLinea</servlet-name>
        <servlet-class>unab.com.EliminaProductoLinea</servlet-class>
    </servlet>
	 <servlet-mapping>
        <servlet-name>EliminaProductoLinea</servlet-name>
        <url-pattern>/servlet/EliminaProductoLinea</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>EliminaStock</servlet-name>
        <servlet-class>unab.com.EliminaStock</servlet-class>
    </servlet>
	 <servlet-mapping>
        <servlet-name>EliminaStock</servlet-name>
        <url-pattern>/servlet/EliminaStock</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaIngresoInsumo</servlet-name>
        <servlet-class>unab.com.GrabaIngresoInsumo</servlet-class>
    </servlet>
	 <servlet-mapping>
        <servlet-name>GrabaIngresoInsumo</servlet-name>
        <url-pattern>/servlet/GrabaIngresoInsumo</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GrabaSolicitudProducto</servlet-name>
        <servlet-class>unab.com.GrabaSolicitudProducto</servlet-class>
    </servlet>
	 <servlet-mapping>
        <servlet-name>GrabaSolicitudProducto</servlet-name>
        <url-pattern>/servlet/GrabaSolicitudProducto</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>unab.com.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/servlet/HelloWorld</url-pattern>
    </servlet-mapping>	
    
    <welcome-file-list>
   		<welcome-file>index.html</welcome-file>
   		<welcome-file>index.htm</welcome-file>
   		<welcome-file>index.jsp</welcome-file>
   		<welcome-file>default.html</welcome-file>
   		<welcome-file>default.htm</welcome-file>
   		<welcome-file>default.jsp</welcome-file>
 </welcome-file-list>

</web-app>
